@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.nav {
  height: 70px;
  display: flex;
  align-items: center;
}

.navbar_brand {
  text-decoration: none;
  color: rgb(216, 214, 58);
  font-family: 'Shadows Into Light', cursive;
  font-size: 60px;
}

.navbar_brand:hover {
  color: rgb(179, 176, 3);
}
